<!-- upload.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: content">

<div th:with="pageTitle='Upload file'">
    <h1 class="mb-4">Upload file</h1>

    <form th:action="@{/upload}" method="post"
          enctype="multipart/form-data"
          class="row g-3">

        <div class="col-auto">
            <input class="form-control" type="file"
                   name="file" required/>
        </div>

        <div class="col-auto">
            <button class="btn btn-primary">Upload</button>
        </div>
    </form>

    <div th:if="${message}"
         class="alert alert-success mt-4"
         th:text="${message}"></div>

    <div th:if="${error}"
         class="alert alert-danger mt-4"
         th:text="${error}"></div>
</div>
</html>
